body {font-family: Helvetica;
    line-height: 1.6em;
    font-size: 1.125rem;
    background-color: bisque;
}
h1, h2 {font-family: "cheesecake", sans-serif;
font-weight: 900;
font-style: normal; font-size: 2.5rem;
color: darkred;
}
h1 {font-size: 3.15rem;
    text-align: center;
}
